Flask==2.0.3
joblib==1.1.0
scikit-learn==1.0.2
requests==2.27.1
pandas==2.2.3
nltk==3.9.1 
regex==2024.11.6
imbalanced-learn
XGBoost
xgboost-cpu
torch
huggingface_hub
hf_xet
transformers
tqdm
fastapi
uvicorn
numpy
